/*nav*/
#logoNav {
  height: 33px;
}
#logoNav:hover {
  transform: scale(1.1);
}
/*inicio*/
.imagenCarrusel {
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.contenidoInicio {
  background: #fff5f5;
}
/*nosotros*/
.img-nosotros {
  height: 1100px;
  object-fit: cover;
}
/*redes*/
.img-info1 {
  height: 500px;
  object-fit: cover;
}
.titulo1 {
  top: 45%;
  right: 35%;
}
/*footer*/
#insta {
  height: 28px;
}
#logoFooter {
  height: 52px;
}
#logoFooter:hover {
  transform: scale(1.1);
}

/* dispositivos grandes lg */

@media all and (min-width: 992px) {
}

/* dispositivos md */
@media all and (min-width: 768px) and (max-width: 991px) {
  .img-nosotros {
    height: 700px;
  }
  .img-info1{
    height: 400px;
  }
}

/* dispositivos sm */
@media all and (max-width: 767px) {
  /*inicio*/
  .imagenCarrusel {
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
  .img-nosotros {
    height: 500px;
  }
  .img-info1 {
    height: 370px;
  }
}
